<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<appSettings>
		<!-- Solid, LeftDiagonal, RightDiagonal, Dashed, Dotted -->
		<add key="BorderMode" value="LeftDiagonal" />	
		
		<!-- All, Top, Bottom, Left, Right  (somma separated) -->
		<add key="Edges" value="All" />
		
		<!-- HTML HEX Color -->
		<add key="BackColor" value="#0000FF" />
		<add key="ForeColor" value="#FFFFFF" />
		
		<!-- Top border will thicken to accomodate text -->
		<add key="Title" value="Super Awesome VM" />
		<add key="TitleFontSize" value="8.0" />
		<add key="TitleForeColor" value="#ffff80" />
		<add key="TitleBackColor" value="#000080" />
		
	</appSettings>
	
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>