<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<appSettings>
		<!-- Solid, LeftDiagonal, RightDiagonal, Dashed, Dotted -->
		<add key="BorderMode" value="Dotted" />	
		
		<!-- All, Top, Bottom, Left, Right  (somma separated) -->
		<add key="Edges" value="All" />
		
		<!-- HTML HEX Color -->
		<add key="BackColor" value="#0000FF" />
		<add key="ForeColor" value="#FFFFFF" />
		
		
		<add key="Title" value="Bob was here" />
		<add key="TitleFontSize" value="" />
		<add key="TitleForeColor" value="" />
		<add key="TitleBackColor" value="" />
		<add key="" value="" />
		<add key="" value="" />
	</appSettings>
	
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>